body{
    margin: 0%;
    background-color: #1a1a1a;
    /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 19%, rgba(9,9,121,1) 76%, rgba(0,212,255,1) 100%); */
    
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #414040; 
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #dfd7d7;
}
nav{
    display: flex;
    flex-direction: row;
    height: 9vh;
    background-color: transparent;
    justify-content: space-around;
    border-radius: 15px;
}
.logo{
    align-self: center;
    color: #dfd7d7;
    font-size: 2.2rem;
}
ul{
    list-style-type: none;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
a{
    font-size: 1.4rem;
    color: #dfd7d7;
    text-decoration: none;
}
a:hover{
    color: #666be7;
    text-decoration-line: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #dfd7d7;
}

.btn-source{
    color: #dfd7d7;
    font-size: 1.05rem;
    background-color: transparent;
    align-self: center;
    height: fit-content;
    padding: 8px 15px;
    width: fit-content;
    border-radius: 25px;
    border: 3px solid #dfd7d7;
}

.resume , .btn-demo{
    color: #dfd7d7;
    font-size: 1.05rem;
    background-color: #666be7;
    align-self: center;
    height: fit-content;
    padding: 8px 15px;
    width: fit-content;
    border-radius: 25px;
    border: 3px solid #666be7;
}
.resume:hover, .btn-demo:hover{
    color: #dfd7d7;
    font-size: 1.05rem;
    background-color: transparent;
    border-color: #dfd7d7;
    cursor: pointer;
}

#home, #project, #skill, #contact, #about{
    color: #dfd7d7;
    height: 91vh;
    margin: 0%;
    display: flex;
}

.scroll-up{
    color: #dfd7d7;
    z-index: 100;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 10%;
    right: 5%;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #dfd7d7;
    background-color: transparent;
}

.scroll-up:hover , .btn-source:hover{
    color: #dfd7d7;
    background-color: #666be7;
    border-color: #666be7;
    cursor: pointer;
}

h2{
    font-size: 4.8rem;
    margin: 10px;
}

.project-div{
    text-align: center;
    width: 100vw;
}

.display-cards{
    display: flex;
    flex-direction: row;

}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #dfd7d7;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: auto;
    width: min-content;
}

.project-img{
    background-image: url("./todo.png");
    height: 10rem;
    width: 16rem;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-title{
    font-size: 2.2rem;
    margin: 2% 0%;
}

.project-details{
    margin: 1% 0%;
    width: 85%;
    font-size: 0.9rem;
}

.btn-div{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-around;
    width: 100%;
}